body {
	overflow: hidden;
}
#editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 50%;
	left: 0;
	right: 0;
}
#result {
	margin: 0;
	position: absolute;
	top: 50%;
	bottom: 20%;
	left: 0;
	right: 0;
}
#status {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	background-color: rgb(245, 245, 245);
	color: gray;
}
.ace_status-indicator {
	position: absolute;
	right: 0;
	border-left: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}